html
{ 
    height: 100%;
}

body
{ 
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F0EFE2;
    color: #777;
}

p
{ 
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

img
{ 
    border: 0;
}

h1, h2, h3, h4, h5, h6 
{ 
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #43423F;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2
{ 
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #A4AA04;
}

h4, h5, h6
{ 
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #A4AA04;
}

h5, h6
{ 
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
    color: #000;
}

h6
{ 
    color: #362C20;
}

#menu a:hover
{ 
    outline: none;
    text-decoration: none;
    background-color: aqua;
}

.left
{ 
    float: left;
    width: auto;
    margin-right: 10px;
}

.right
{ 
    float: right; 
    width: auto;
    margin-left: 10px;
}

.center
{ 
    display: block;
    text-align: center;
    margin: 20px auto;
}

#main, #logo, #menubar, #site_content, #footer
{ 
    margin-left: auto; 
    margin-right: auto;
    width: 900px;
}

#footer{
    text-align: center;
}

#header
{ 
    background: #025587;
    height: 240px;
    width: 900px;
}

#logo
{ 
    width: 825px;
    position: relative;
    text-align: center;
    height: 168px;
    background: #025587 url(../images/logga.png) no-repeat;
}

#menubar
{ 
    width: 900px;
    height: 72px;
    padding: 0;
    background: #000033;
} 

ul#menu, ul#menu li
{ 
    float: left;
    margin: 0; 
    padding: 0;
    background: #000033;
}

ul#menu li
{ 
    list-style: none;
}

ul#menu li a
{ 
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    display: block; 
    float: left; 
    height: 72px;
    padding: 29px 60.5px 6px 60.5px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
} 

#manu li a:hover, #menu li.active a, #menu li.active a:hover{
    color: #FFF;
    background-color: aqua;
    
}

#site_content
{ 
    width: 837px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 20px 24px 20px 37px;
    background: #FFF url(../images/sidan.png) repeat-y;
} 

.sidebar
{ 
    float: right;
    width: 190px;
    padding: 0 15px 20px 15px;
}

#content
{ 
    text-align: left;
    width: 595px;
    padding: 0;
}

#content ul
{ 
    margin: 2px 0 22px 0px;
}

#content ul li
{ 
    list-style-type: none;
    margin: 0 0 6px 0; 
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Position the "next button" to the right */

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (max-width: 850px){
    #menubar
    {
        width: 100%;
        text-align: center;
    }

    ul#menu li a,ul#menu li
    {
        float: none;
        background-color: #000033;
        width: 125%; 
        height: 70px;
        text-align: center;
    }
    #logo
    { 
        width: 234%;
    }
    #site_content
    { 
        width: 84%;
        text-align: center;
    }
    #footer
    {
        width: 100%;
        text-align: center;
    }
    #content
    {
        width: 100%;
        text-align: center;
    }

    #iframemap
    {
        width: 100%;
    }
    .sidebar
    {
        width:100%;
        float: none;
        text-align: center;
    }
    #slider figure
    {
        width: 100%;
    }
    #header
    {
        width: 37.25%;
        margin-left: 25px;
    }
    #main
    {
        width: 100%;   
    }
}